# Heroes Of Pymoli

In [1]:
# import dependencies
import pandas as pd

In [2]:
# load data
purchase_data = pd.read_csv('purchase_data.csv')

# take a peek
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# get size
purchase_data.shape

(780, 7)

## Player Count

In [4]:
# calculate number of unique players
number_of_players = len(purchase_data['SN'].unique())
total_players = pd.DataFrame({'Total Players' : [number_of_players]})

In [5]:
total_players

   Total Players
0            576

## Purchasing Analysis

In [6]:
# calculate number of unique items
unique_items = len(purchase_data['Item ID'].unique())
unique_items

183

In [7]:
#calculate average price
average_price = purchase_data['Price'].mean()
average_price

3.050987179487176

In [8]:
# calculate number of purchases
purchases = len(purchase_data.index)
purchases

780

In [9]:
# calculate total revenue
total_revenue = purchase_data['Price'].sum()
total_revenue

2379.77

In [10]:
# put results in a summary dataframe
summary = pd.DataFrame( {
    'Number of Unique Items' : [unique_items] ,
    'Average Price' : [average_price] ,
    'Number of Purchases' : [purchases] , 
    'Total Revenue' : [total_revenue]
})

# format prices
summary['Average Price'] = summary['Average Price'].map('${:,.2f}'.format)
summary['Total Revenue'] = summary['Total Revenue'].map('${:,.2f}'.format)

### Summary table
### --------------------

In [11]:
# display results
summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

In [12]:
# get numbers of each gender
gender_counts = purchase_data.groupby('Gender')['SN'].nunique()

In [13]:
# get pecentage of each gender
gender_percentages = [(i/sum(gender_counts))*100 for i in gender_counts]
gender_percentages

[14.0625, 84.02777777777779, 1.9097222222222223]

In [14]:
# put results in a dataframe
gender_demographics = pd.DataFrame({
    'Total Count' : gender_counts ,
    'Percentage of Players' : gender_percentages
})
del gender_demographics.index.name 

# format percentages
gender_demographics['Percentage of Players'] = gender_demographics['Percentage of Players'].map('{:,.2f}'.format)

# sort by descending counts
gender_demographics = gender_demographics.sort_values('Total Count', ascending=False)

### Summary table
### --------------------

In [15]:
# display results
gender_demographics

                       Total Count Percentage of Players
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

In [16]:
# get purchase counts
gender_purchase_counts = purchase_data.groupby('Gender')['Purchase ID'].count()

In [17]:
# calculate average prices
gender_average_prices = purchase_data.groupby('Gender')['Price'].mean()

In [18]:
# calculate total prices
gender_total_prices = purchase_data.groupby('Gender')['Price'].sum()

In [19]:
# calculate avg total prices per person
gender_avg_totals = [total_price/gender_count for total_price,gender_count in zip(gender_total_prices,gender_counts)]
gender_avg_totals

[4.4683950617283905, 4.065371900826445, 4.562727272727273]

In [20]:
# put results in a dataframe
purchases_by_gender = pd.DataFrame({
    'Purchase Count' : gender_purchase_counts ,
    'Average Purchase Price' : gender_average_prices ,
    'Total Purchase Value' : gender_total_prices ,
    'Avg Total Purchase per Person' : gender_avg_totals 
})

# format prices
purchases_by_gender['Average Purchase Price'] = purchases_by_gender['Average Purchase Price'].map('${:,.2f}'.format)
purchases_by_gender['Total Purchase Value'] = purchases_by_gender['Total Purchase Value'].map('${:,.2f}'.format)
purchases_by_gender['Avg Total Purchase per Person'] = purchases_by_gender['Avg Total Purchase per Person'].map('${:,.2f}'.format)

# sort by descending counts
purchases_by_gender = purchases_by_gender.sort_values('Purchase Count', ascending=False)

## Summary table
## ---------------------

In [21]:
# display results
purchases_by_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

####  Trends:
#### - Female players tend to buy more expensive items

## Age Demographics

In [22]:
# see min age
purchase_data['Age'].min()

7

In [23]:
# see max age
purchase_data['Age'].max()

45

In [24]:
# bins and labels
bins = [5,9,14,19,24,29,34,39,44,49]
labels = ['5-9','10-14','15-19','20-24','25-29','30-34','35-39','40-44', '45-50']

In [25]:
# get list of unique players and their ages
players_ages = purchase_data[['SN', 'Age']].drop_duplicates(subset='SN').reset_index(drop=True)
players_ages.head()

              SN  Age
0        Lisim78   20
1    Lisovynya38   40
2     Ithergue48   24
3  Chamassasya86   24
4      Iskosia90   23

In [26]:
# bin data
players_ages['Age range'] = pd.cut(players_ages['Age'], bins = bins, labels = labels)
players_ages.head()

              SN  Age Age range
0        Lisim78   20     20-24
1    Lisovynya38   40     40-44
2     Ithergue48   24     20-24
3  Chamassasya86   24     20-24
4      Iskosia90   23     20-24

In [27]:
# get counts
age_range_counts = players_ages.groupby('Age range')['SN'].count()

In [28]:
# get percentages
age_range_percentages = [(i/number_of_players)*100 for i in age_range_counts]
age_range_percentages

[2.951388888888889,
 3.8194444444444446,
 18.57638888888889,
 44.79166666666667,
 13.368055555555555,
 9.027777777777777,
 5.381944444444445,
 1.9097222222222223,
 0.1736111111111111]

In [29]:
# put results in dataframe
age_demographics = pd.DataFrame({
    'Total Count' : age_range_counts ,
    'Percentage of Players' : age_range_percentages ,
}, index = labels )

# format percentages
age_demographics['Percentage of Players'] = age_demographics['Percentage of Players'].map('{:.2f}'.format)

### Summary table
### --------------------

In [30]:
# display results
age_demographics

       Total Count Percentage of Players
5-9             17                  2.95
10-14           22                  3.82
15-19          107                 18.58
20-24          258                 44.79
25-29           77                 13.37
30-34           52                  9.03
35-39           31                  5.38
40-44           11                  1.91
45-50            1                  0.17

####  Trends:
#### - Almost half of the players are 20-24 year olds.
#### - Another 30% are 5 years younger or older

## Purchasing Analysis (Age)

In [31]:
# bin purchases
purchase_data.insert(3, 'Age range', pd.cut(purchase_data['Age'], bins = bins, labels = labels))

In [32]:
purchase_data.head()

,Purchase ID,SN,Age,Age range,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,20-24,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,40-44,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,20-24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,20-24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,20-24,Male,131,Fury,1.44

In [33]:
# calculate purchase counts
age_range_purchases = purchase_data.groupby('Age range')['Purchase ID'].count()

In [34]:
age_range_avg_prices = purchase_data.groupby('Age range')['Price'].mean()

In [35]:
age_range_totals = purchase_data.groupby('Age range')['Price'].sum()

In [36]:
age_range_avg_totals = [total_price/age_range_count for total_price,age_range_count in zip(age_range_totals,age_range_counts)]
age_range_avg_totals

[4.537058823529412,
 3.7627272727272723,
 3.85878504672897,
 4.3180620155038785,
 3.805194805194803,
 4.115384615384615,
 4.763548387096773,
 3.321818181818182,
 1.7]

In [37]:
# put results in dataframe
purchases_by_age = pd.DataFrame({
    'Purchase Count' : age_range_purchases ,
    'Average Purchase Price' : age_range_avg_prices ,
    'Total Purchase Value' : age_range_totals ,
    'Avg Total Purchase per Person' : age_range_avg_totals
}, index = labels)

# format prices
purchases_by_age['Average Purchase Price'] = purchases_by_age['Average Purchase Price'].map('${:,.2f}'.format)
purchases_by_age['Total Purchase Value'] = purchases_by_age['Total Purchase Value'].map('${:,.2f}'.format)
purchases_by_age['Avg Total Purchase per Person'] = purchases_by_age['Avg Total Purchase per Person'].map('${:,.2f}'.format)

### Summary table
### --------------------

In [38]:
# display results
purchases_by_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
5-9,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40-44,12,$3.04,$36.54,$3.32
45-50,1,$1.70,$1.70,$1.70

#### Trends:
#### - Very young kids buy more expensive items
#### - No major purchasing trends across age groups

## Top Spenders

In [39]:
# get purchase counts per person
players_purchases = purchase_data.groupby('SN')['Purchase ID'].count()

In [40]:
# get average price per player
players_avg_prices = purchase_data.groupby('SN')['Price'].mean()

In [41]:
# get total purchases
players_total_purchases = purchase_data.groupby('SN')['Price'].sum()

In [42]:
# put results in dataframe
purchases_by_players = pd.DataFrame({
    'Purchase Count' : players_purchases ,
    'Average Purchase Price' : players_avg_prices ,
    'Total Purchase Value' : players_total_purchases 
    }
)

# sort by descending counts
purchases_by_players = purchases_by_players.sort_values('Total Purchase Value', ascending=False)

# format prices
purchases_by_players['Average Purchase Price'] = purchases_by_players['Average Purchase Price'].map('${:,.2f}'.format)
purchases_by_players['Total Purchase Value'] = purchases_by_players['Total Purchase Value'].map('${:,.2f}'.format)

### Summary table
### --------------------

In [54]:
# display results
purchases_by_players.head(20)

              Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                  5                  $3.79               $18.96
Idastidru52                4                  $3.86               $15.45
Chamjask73                 3                  $4.61               $13.83
Iral74                     4                  $3.40               $13.62
Iskadarya95                3                  $4.37               $13.10
Ilarin91                   3                  $4.23               $12.70
Ialallo29                  3                  $3.95               $11.84
Tyidaim51                  3                  $3.94               $11.83
Lassilsala30               3                  $3.84               $11.51
Chadolyla44                3                  $3.82               $11.46
Iri67                      3                  $3.79               $11.37
Inguron55                  3                  $3.70               $11.11
Siallylis44                3                  $3.46               $10.37
Saistyphos30               3                  $3.44               $10.33
Phyali88                   3                  $3.43               $10.30
Strithenu87                3                  $3.39               $10.18
Lisim78                    3                  $3.34               $10.02
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29

## Most Popular Items

In [44]:
# get items
items = purchase_data[['Item ID', 'Item Name', 'Price']]
items.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [45]:
item_purchases = purchase_data.groupby(['Item ID','Item Name'])['Price'].count()

In [46]:
# get prices
item_prices = purchase_data.groupby(['Item ID','Item Name'])['Price'].mean()

In [47]:
# get total purchase values
item_total_purchases = purchase_data.groupby(['Item ID','Item Name'])['Price'].sum()

In [48]:
# put results in dataframe
purchases_by_items = pd.DataFrame({
    'Purchase Count' : item_purchases ,
    'Item Price' : item_prices ,
    'Total Purchase Value' : item_total_purchases 
    }
)

# sort by descending counts
purchases_by_items = purchases_by_items.sort_values('Purchase Count', ascending=False)

# format prices
purchases_by_items['Item Price'] = purchases_by_items['Item Price'].map('${:,.2f}'.format)
purchases_by_items['Total Purchase Value'] = purchases_by_items['Total Purchase Value'].map('${:,.2f}'.format)

### Summary table
### --------------------

In [53]:
# display results
purchases_by_items.head(20)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16
103,Singed Scalpel,8,$4.35,$34.80
75,Brutality Ivory Warmace,8,$2.42,$19.36
72,Winter's Bite,8,$3.77,$30.16
60,Wolf,8,$3.54,$28.32
59,"Lightning, Etcher of the King",8,$4.23,$33.84
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28
34,Retribution Axe,8,$2.22,$17.76
92,Final Critic,8,$4.88,$39.04
53,Vengeance Cleaver,7,$2.05,$14.35
110,Suspension,7,$1.44,$10.08
7,"Thorn, Satchel of Dark Souls",7,$1.33,$9.31
71,Demise,7,$1.61,$11.27
117,"Heartstriker, Legacy of the Light",7,$1.79,$12.53
159,"Oathbreaker, Spellblade of Trials",7,$3.08,$21.56
85,Malificent Bag,7,$1.75,$12.25

#### Trends:
#### - More expensive items are more popular

## Most Profitable Items

In [50]:
# sort (redo dataframe since the columns are now in string format)
total_purchases_by_items = pd.DataFrame({
    'Purchase Count' : item_purchases ,
    'Item Price' : item_prices ,
    'Total Purchase Value' : item_total_purchases 
    }
)

# sort by descending counts
total_purchases_by_items = total_purchases_by_items.sort_values('Total Purchase Value', ascending=False)

# re-format prices
total_purchases_by_items['Item Price'] = total_purchases_by_items['Item Price'].map('${:,.2f}'.format)
total_purchases_by_items['Total Purchase Value'] = total_purchases_by_items['Total Purchase Value'].map('${:,.2f}'.format)

### Summary table
### --------------------

In [51]:
total_purchases_by_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

#### Trends:
#### -